.CommentView {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  position: sticky; /* Key property for stickiness */
  top: 10em; /* Adjust offset from the top if needed */

  gap: 0.5em;

  margin: 0 2em;
  padding: 1em;
  border-radius: 1em;
  background-color: #f2f2f2;

  overflow-y: auto;

  min-width: 20vw;
  max-height: 85vh;

  -ms-overflow-style: auto;
  scrollbar-width: thin;
}

.commentList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5em;
  overflow: auto;
}

.CommentView::-webkit-scrollbar {
  display: auto;
}

.comment-author {
  font-weight: bold;
  font-size: 0.6em;
}
.comment-text {
  font-size: 0.8em;
}

.commentInput {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  width: 100%;

  padding: 1em 0;

  textarea {
    width: 80%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    color: #111;
    font-weight: 1.2em;
  }
  button {
    padding: 0.5em 1em;
    border-radius: 0.5em;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
}
