.Comment {
  background-color: #fff;

  font-size: 24px;
  color: #222;
  padding: 10px;
  border-radius: 1em;
  margin-bottom: 10px;

  min-width: 95%;
}

.commen-author {
  font-weight: bold;
}

.comment-text {
  margin-top: 5px;
  font-size: 18px;
}

.comment-time {
  font-size: 12px;
  color: #999999;
}
