.Upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;

  border-radius: 1em;

  width: 50vw;
  background-color: #f2f2f2;

  color: #222;
}

#myForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

  width: 100%;
}

.form-group label {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-group input {
  width: 90%;
  align-self: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #ced4da;
  color: #222;

  font-size: 1.5rem;
  font-weight: 500;
}

.form-group button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-group button:hover {
  background-color: #0056b3;
}

.form-group textarea {
  width: 90%;
  align-self: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #ced4da;
  color: #222;

  font-size: 1.5rem;
  font-weight: 500;
}
