@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: Outfit, sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('./assets/background.png');

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #31857b; /* Optional background color */
  padding: 10px 0; /* Optional padding */
}

.navTitle {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  margin-left: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer button {
  padding: 10px 20px;
  background-color: #fff;
  color: #222;
  font-weight: 400;
  font-size: 1.2em;

  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0 10px; /* Adds spacing between buttons */
}

.buttonContainer button:hover {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.form-container {
  max-width: 60vw;
  width: 20%;
  max-height: 500px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 1em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-container h2 {
  text-align: center;
}

.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group textarea {
  width: 100%;
  padding: 8px;

  font-size: 1em;

  border: 1px solid #ccc;
  border-radius: 0.5em;
  box-sizing: border-box;

  outline: none;
  border: 2px solid transparent;
  transition: border 0.2s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
  border-bottom: 2px solid #007bff;
  border-radius: 0.5em;
}

.form-group textarea {
  height: 100px;
}

.form-group input[type='file'] {
  margin-top: 5px;
}

.form-group button,
#connect-wallet {
  padding: 10px 20px;
  background-color: #31857b;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  border: 2px solid transparent;

  font-size: 1em;
  font-weight: 600;

  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form-group button:hover,
#connect-wallet:hover {
  background-color: transparent;
  border: 2px solid #31857b;
  color: #31857b;
}

.form-group button:active,
#connect-wallet:active {
  background-color: #e2e2e2;
  border: 2px solid #31857b;
  color: #31857b;
}
